.red
{
	font-size:12px;
	color:red;
}
.action-response
{
	position:fixed !important;
	right:0 !important;
	top:5px !important;
	display:inline-block !important;
	z-index:1111 !important;
}

#categoryList {
    display: block;
    overflow: hidden;
}
.collapse li {
    color: #fff;
}
.list-group-item
{
    display:flex;
    align-items: center;
    border-top: 5px solid #05b58d ;

}

.highlight
{
    background:#f7e7d3;
    min-height:30px;
    list-style-type:none;
}
.handle
{
    min-width:18px;
    background:#607d8b;
    height:15px;
    display:inline-block;
    cursor:move;
    margin-right:10px;
}

.green
{
    color:green;
    font-size:14px;
    font-weight:600;
}
.red
{
    color:red;
    font-size:14px;
    font-weight:600;

}
.white
{
    color:#fff;
}
.float-left
{
    float:left !important;
}
.category-action-button
{
    flex:1;
}
.category-action-button a,.category-action-button label
{
    display:inline-block;
    vertical-align: middle;
    float:right;
    margin-left:10px;

}
.eg
{
    font-size:12px;color:#777;
}


/*Checkboxes styles*/
.category-action-button input[type="checkbox"] { display: none; }

.category-action-button input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top:5px;
  color:red;
}

.category-action-button input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.category-action-button input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;

}

.list
{
    background:#fafafa;
    padding:20px;
    margin-bottom:20px;
    height:320px;
    overflow-y:scroll;
}
.list h3
{
    font-size:18px;
    font-weight: 600;
    padding-bottom:10px;
    border-bottom:1px dashed #ddd;
}
.list ul li
{
    color:#777;
    font-size:16px;
    line-height:32px;
}

.category-action-button input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.float-right
{
  float:right;
}
.card-title
{
  line-height:40px !important;
}

.productcategory
{
  background:#fafafa;
  padding:30px;
}
.productcategory h3
{
  text-align:center;
  font-size:21px;
}
.productcategory ul
{
  padding:0;
}
.productcategory ul li
{
  list-style:none;
  line-height:40px;
  font-size:18px;
  border-bottom:1px solid #ddd;
}

.product-block
{
  display:block;
  overflow:hidden;
  padding:40px 20px;
}
.empty
{
  font-size:32px;
  text-align:center;
  color:#ccc;
  display: block;
  width:100%;
}
.product-image img
{
  width:100%;
}
.product-details
{
  background:#fafafa;
  padding:10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border-radius:5px;
  margin-top:-5px;
  z-index:11111;
}
.p-name h3
{
  font-size:21px;
  font-weight:bold;
  text-align:center;
  margin-bottom:20px;
}
.p-name p
{
  text-align:center;
}
.action-product
{
  display:flex;

}
.edit-action
{
  margin-right:5px;
}

.flex
{
  flex:1;
}
.row-mb-30
{
  margin-bottom:30px;
  margin-top:30px;
}
.simple-pagination ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.simple-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
  color: #666;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #EEE;
  background-color: #FFF;
  box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
  color: #FFF;
  background-color: #007bff;
  border-color: #007bff;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
  background:#007bff;
}

.dropdown-menu.show li a {
  color: #000;
  padding: 5px;
  font-size: 16px;
}
.galleryImages {
  visibility: hidden;
  position: absolute;
}
.thumb
{
  width:100%;
}
.remove_img_preview {
  position: relative;
  top: -163px;
  left: 235px;
  background: red;
  color: white;
  border-radius: 50px;
  font-size: 0.9em;
  padding: 0 0.3em 0;
  text-align: center;
  cursor: pointer;
}
.remove_img_preview:before {
    content: "×";
}

.galleryImage img
{
  width:100%;
}
.galleryImage
{
  background:#fafafa;
  padding:10px;
}
.link-control {
  font-size: 14px;
  border: 1px solid rgba(170, 170, 170, .3);
  padding: 10.72px 12.8px;
  padding: .67rem .8rem;
  width: 90%;
}


.m-b-7 {
  margin-bottom: 7px;
}