@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoone8d3.eot?esr9ov');
  src:  url('../fonts/icomoone8d3.eot?esr9ov#iefix') format('embedded-opentype'),
    url('../fonts/icomoone8d3.ttf?esr9ov') format('truetype'),
    url('../fonts/icomoone8d3.woff?esr9ov') format('woff'),
    url('../fonts/icomoone8d3.svg?esr9ov#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
  content: "\e900";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-message:before {
  content: "\e901";
}
.icon-phone-call:before {
  content: "\e902";
}
.icon-magnifying-glass:before {
  content: "\e903";
}
.icon-shopping-cart:before {
  content: "\e904";
}
.icon-focus:before {
  content: "\e905";
}
.icon-harvest:before {
  content: "\e906";
}
.icon-temperature:before {
  content: "\e907";
}
.icon-tractor:before {
  content: "\e908";
}
.icon-cart:before {
  content: "\e909";
}
.icon-watering-can:before {
  content: "\e90a";
}
.icon-log:before {
  content: "\e90b";
}
.icon-placeholder:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e90d";
}
.icon-farmer:before {
  content: "\e90e";
}
.icon-growth:before {
  content: "\e90f";
}
.icon-plus-symbol:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e911";
}
.icon-customer-service:before {
  content: "\e912";
}
.icon-handshake:before {
  content: "\e913";
}
.icon-undulating-arrow:before {
  content: "\e914";
}
.icon-watering:before {
  content: "\e915";
}
.icon-wheelbarrow:before {
  content: "\e916";
}
.icon-customer-review:before {
  content: "\e917";
}
.icon-meeting:before {
  content: "\e918";
}
.icon-pdf:before {
  content: "\e919";
}
